<div class="col-lg-6">
    <!-- form sign up -->
    <!-- <h2>membuat akun</h2> -->
    <!-- <p>Signing up for an account is free and easy. Fill out the form below to get started. JavaScript is required to to continue.        -->
    <!-- </p> -->
    <form action="">
        <div class="mb-3">
            <label for="" class="form-label">Nama</label>
            <input type="text" class="form-control border border-primary"/>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="password" class="form-control border border-primary"/>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Submit</label>
            <input type="password" class="form-control border border-primary"/>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Message</label>
            <input type="email" class="form-control border border-primary"/>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">By clicking the "Sign up" button below, I certify that I have read and agree to the TMDB terms of use and privacy policy.</label>
        </div>

        <button class="btn btn-primary">Kirim</button>
        <button class="btn btn-default text-primary">Cancel</button>
    </form>
</div>