<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        #object1 {
            width: 300px;
            height: 200px;
            float: right;
        }
    </style>
</head>
<body>
    <h2>About Us</h2>
    <div class="container">
    </div><img id="object1" src="mdp.jpeg" />
</body>
</html>

<h1>about us</h1>
    <p>ini halaman about</p>
    <!-- <img src="./img/eric.jpg" alt="" srcset=""> -->
    <div class="col-lg-6 col-lg-6">
        <img src="img/mdp.jpeg" alt="" class="img-fluid rounded" />
        <h5>Universitas Multi Data Palembang</h5>
        Universitas MDP Palembang awalnya adalah sebuah Lembaga Kursus penyedia pelatihan program 
        aplikasi komputer berdiri tahun 1987. Berada di Palembang, pada saat itu fasilitas laboratorium 
        komputer yang tersedia hanya 2 ruangan. Pada tahun 1988 MPD membuka cabang dan menyediakan 
        fasilitas 2 ruangan laboratorium komputer.Karena kemampuannya dalam berkembang, manajemen akhirnya pindah lokasi, menyediakan 6 kelas dan fasilitas lebih modern. Untuk menjawab permintaan kebutuhan komputer tahun 1993 akhirnya pusat MDP menyediakan pendidikan ahli komputer hanya untuk program 1 tahun atau D1.Saat itu, lembaga menyediakan jurusan Teknik Informatika, Teknik Komputer, Komputer Desain Grafis, dan Komputerisasi Akuntansi. Berkembang lebih baik pada tahun 2000 akhirnya jurusan baru pun dibuka yaitu E-commerce.Tahun 2001, terbitlah surat keputusan dari Direktorat Pendidikan tinggi Departemen Pendidikan
         untuk pendirian Sekolah Tinggi Manajemen Informatika dan komputer MDP dan telah berhasil
    </div>